In [1]:
import numpy as np
import pandas as pd

In [166]:
train_data = pd.read_csv('../data/train.csv')
test_data = pd.read_csv('../data/test.csv')
answer = pd.read_csv('../data/answer.csv')
validation_ids = pd.read_csv('../data/validation_ids.csv')
labels = np.load('../data/labels.npy')
pred_val = np.load('../data/predicted_val_mobilnet.npy')
pred_test = np.load('../data/predicted_test3.npy')

In [5]:
val_ids = list(validation_ids['id'])
class_set = list(answer.keys())

In [6]:
sort_val = np.argsort(-pred_val,axis=0)
tag_id = train_data["tag_id"].iloc[val_ids].as_matrix()
sort_tags = tag_id[sort_val]

In [7]:
sort_val_actual = np.argsort(-labels[val_ids,:],axis=0)
sort_tags_actual = tag_id[sort_val_actual]

In [8]:
sort_tags

array([[27178, 15483, 18915, ..., 14118, 13569, 27224],
       [12194, 18915, 30427, ..., 25283, 27415, 20814],
       [16371, 28497, 27415, ..., 17825, 27224, 18915],
       ...,
       [27735, 33746, 31890, ..., 33677, 31801, 25543],
       [15483, 28389, 15728, ..., 12319, 38160, 27955],
       [39749, 12319, 21710, ..., 18831, 24997, 33746]], dtype=int64)

In [9]:
sort_tags_actual

array([[21795, 31063, 21795, ..., 21795, 21795, 31063],
       [28608, 33746, 28608, ..., 28608, 28608, 21795],
       [34416, 21795, 34416, ..., 34416, 34416, 28608],
       ...,
       [21710, 13771, 13771, ..., 13771, 13771, 13771],
       [33746, 25114, 33867, ..., 33867, 33867, 33867],
       [31063, 21710, 21710, ..., 21710, 21710, 21710]], dtype=int64)

In [10]:
from sklearn.metrics import average_precision_score

In [11]:
l = []
for i in range(37):
    val = average_precision_score(labels[val_ids,i], pred_val[:,i])
    print (class_set[i],val)
    if val >= 0:
        l.append(val)
np.mean(l)

small vehicle 0.949041477078
large vehicle 0.0209146102624
minibus nan
hatchback 0.204625796922
sedan 0.685430486147
bus 0.0151515151515
minivan 0.0479302675371
truck 0.00833333333333
van nan
jeep 0.0968887543616
cement mixer nan
dedicated agricultural vehicle nan
tanker nan
crane truck nan
pickup 0.0547245205937
light truck nan
prime mover nan
red 1.0
black 0.0628707286839
blue 0.385965876229
silver/grey 0.259424710755
white 0.468151753912
other 0.039568023262
yellow nan
green nan
sunroof 0.0625866627456
luggage_carrier 0.115958049887
open_cargo_area 0.0257336450885
enclosed_cab nan
spare_wheel 0.03125
wrecked 0.00806451612903
flatbed nan
ladder nan
enclosed_box nan
soft_shell_box nan
harnessed_to_a_cart nan
ac_vents 0.00943396226415

C:\Users\asengup6\Softwares\Anaconda\lib\site-packages\sklearn\metrics\ranking.py:415: RuntimeWarning: invalid value encountered in true_divide
  recall = tps / tps[-1]
C:\Users\asengup6\Softwares\Anaconda\lib\site-packages\sklearn\metrics\ranking.py:96: RuntimeWarning: invalid value encountered in less
  if np.any(dx < 0):

In [12]:
np.mean(l)

0.2167642233496398

In [15]:
dd = pd.DataFrame()
dd['pred'] = pred_val[:,1]
dd['actual'] = labels[val_ids,1]

In [18]:
pred_val[[25,35],:2]

array([[ 0.98640138,  0.00681405],
       [ 0.97232729,  0.09947251]], dtype=float32)

In [21]:
pred_val_actual = pred_val.copy()

In [22]:
pred_val[:,0] = np.exp(pred_val[:,0])/(pred_val[:,0]+pred_val[:,1])
pred_val[:,1] = np.exp(pred_val[:,1])/(pred_val[:,0]+pred_val[:,1])

In [24]:
average_precision_score(labels[val_ids,1], pred_val[:,1])

0.02140868140868141

In [167]:
sort_val = np.argsort(-pred_test,axis=0)
tag_id = test_data["tag_id"].as_matrix()
sort_tags = tag_id[sort_val]
class_set = list(answer.keys())
df = pd.DataFrame(data=sort_tags, columns = class_set)

In [168]:
df.head(3)

,small vehicle,large vehicle,minibus,hatchback,sedan,bus,minivan,truck,van,jeep,...,open_cargo_area,enclosed_cab,spare_wheel,wrecked,flatbed,ladder,enclosed_box,soft_shell_box,harnessed_to_a_cart,ac_vents
0,25005,31472,31260,26439,28325,20169,32186,19482,35465,27618,...,28789,10419,34995,16426,31472,11777,18231,18039,17395,20169
1,19844,22883,29955,31433,29973,21694,26038,21363,38223,14158,...,28138,36473,39402,31553,14151,12697,28295,10792,23705,18628
2,11813,21830,39959,24041,39923,18628,20178,27435,21020,39402,...,35949,33809,37461,31015,29764,25765,16579,36294,18231,21694

In [162]:
sub2 = pd.read_csv('../answer.csv')

In [163]:
for col in ['crane truck','harnessed_to_a_cart','green','prime mover','minibus']:
    df[col] = sub2[col]

In [164]:
df.head(3)

,small vehicle,large vehicle,minibus,hatchback,sedan,bus,minivan,truck,van,jeep,...,open_cargo_area,enclosed_cab,spare_wheel,wrecked,flatbed,ladder,enclosed_box,soft_shell_box,harnessed_to_a_cart,ac_vents
0,11738,36543,24685,27787,39842,18628,30169,21830,12270,12803,...,28789,33809,25716,16426,19482,29625,15329,10738,29606,18628
1,35980,28535,28022,21404,10034,30871,38842,10738,11455,25202,...,15739,36473,28894,35120,19306,26532,21363,21820,22883,16045
2,29261,24495,31260,18032,10393,34775,32009,24371,34529,14361,...,37081,13092,12566,19410,23705,23179,33822,13124,31472,20169

In [169]:
df.to_csv('../answer.csv', index=False)

In [146]:
class_set = list(answer.keys())
df = pd.DataFrame(data=labels, columns = class_set)

In [26]:
df.head(3)

,small vehicle,large vehicle,minibus,hatchback,sedan,bus,minivan,truck,van,jeep,...,open_cargo_area,enclosed_cab,spare_wheel,wrecked,flatbed,ladder,enclosed_box,soft_shell_box,harnessed_to_a_cart,ac_vents
0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [147]:
for i in range(37):
    print (class_set[i])
    print (labels[:,i].sum(axis=0))

small vehicle
11111.0
large vehicle
506.0
minibus
25.0
hatchback
3080.0
sedan
5783.0
bus
53.0
minivan
586.0
truck
179.0
van
362.0
jeep
865.0
cement mixer
17.0
dedicated agricultural vehicle
5.0
tanker
3.0
crane truck
16.0
pickup
435.0
light truck
164.0
prime mover
44.0
red
414.0
black
1158.0
blue
742.0
silver/grey
3505.0
white
4817.0
other
626.0
yellow
258.0
green
97.0
sunroof
853.0
luggage_carrier
383.0
open_cargo_area
256.0
enclosed_cab
172.0
spare_wheel
181.0
wrecked
881.0
flatbed
77.0
ladder
2.0
enclosed_box
133.0
soft_shell_box
30.0
harnessed_to_a_cart
4.0
ac_vents
72.0

In [27]:
df.to_csv('../data/labels.csv',index=False)

In [28]:
for col in df.columns:
    print (col)
    print (len(df[df[col] == 1])/len(df))

small vehicle
0.9564431436687613
large vehicle
0.0435568563312387
minibus
0.0021520185934406472
hatchback
0.26512869071188777
sedan
0.49780494103469053
bus
0.004562279418094172
minivan
0.050443315830248775
truck
0.015408453129035035
van
0.031161229233020574
jeep
0.0744598433330464
cement mixer
0.00146337264353964
dedicated agricultural vehicle
0.00043040371868812945
tanker
0.00025824223121287767
crane truck
0.0013772918998020143
pickup
0.03744512352586726
light truck
0.014117241972970646
prime mover
0.0037875527244555394
red
0.03563742790737712
black
0.09968150124817078
blue
0.06387191185331842
silver/grey
0.30171300680037877
white
0.4146509425841439
other
0.05388654557975381
yellow
0.02220883188430748
green
0.008349832142549711
sunroof
0.07342687440819488
luggage_carrier
0.03296892485151072
open_cargo_area
0.022036670396832228
enclosed_cab
0.014805887922871654
spare_wheel
0.015580614616510287
wrecked
0.07583713523284841
flatbed
0.006628217267797194
ladder
0.00017216148747525178
enclosed_box
0.011448738917104243
soft_shell_box
0.002582422312128777
harnessed_to_a_cart
0.00034432297495050356
ac_vents
0.006197813549109065

In [43]:
labels_df = df.copy()

In [45]:
def calculate_cond_prob_subclass(col1,col2):
    try:
        return len(labels_df[labels_df[col1] == 1][labels_df[col2] == 1])/len(labels_df[labels_df[col1] == 1])
    except:
        return 0

In [46]:
pred_val = pred_val_actual.copy()

In [47]:
for i in range(2,17):
    
    pred_val[:,i] = calculate_cond_prob_subclass(class_set[0],class_set[i])*pred_val[:,0] + calculate_cond_prob_subclass(class_set[1],class_set[i])*pred_val[:,1]
for i in range(24,37):
    pred_val[:,i] = 0
    for j in range(2,17):
        pred_val[:,i] += calculate_cond_prob_subclass(class_set[j],class_set[i])*pred_val[:,j]

C:\Users\asengup6\Softwares\Anaconda\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

In [48]:
l = []
for i in range(37):
    val = average_precision_score(labels[val_ids,i], pred_val[:,i])
    print (class_set[i],val)
    if val >= 0:
        l.append(val)
np.mean(l)

small vehicle 0.949041477078
large vehicle 0.0209146102624
minibus nan
hatchback 0.204147044809
sedan 0.625430694297
bus 0.0217391304348
minivan 0.040586292567
truck 0.00666666666667
van nan
jeep 0.0638960113568
cement mixer nan
dedicated agricultural vehicle nan
tanker nan
crane truck nan
pickup 0.0611417836056
light truck nan
prime mover nan
red 1.0
black 0.0628707286839
blue 0.385965876229
silver/grey 0.259424710755
white 0.468151753912
other 0.039568023262
yellow nan
green nan
sunroof 0.0884351856704
luggage_carrier 0.0372289022183
open_cargo_area 0.0736042692939
enclosed_cab nan
spare_wheel 0.0208333333333
wrecked 0.0185185185185
flatbed nan
ladder nan
enclosed_box nan
soft_shell_box nan
harnessed_to_a_cart nan
ac_vents 0.0217391304348

C:\Users\asengup6\Softwares\Anaconda\lib\site-packages\sklearn\metrics\ranking.py:415: RuntimeWarning: invalid value encountered in true_divide
  recall = tps / tps[-1]
C:\Users\asengup6\Softwares\Anaconda\lib\site-packages\sklearn\metrics\ranking.py:96: RuntimeWarning: invalid value encountered in less
  if np.any(dx < 0):

0.21285257825656731

In [40]:
pred_test_actual = pred_test.copy()

In [41]:
for i in range(2,17):
    pred_test[:,i] = calculate_cond_prob_subclass(class_set[0],class_set[i])*pred_test[:,0] + calculate_cond_prob_subclass(class_set[1],class_set[i])*pred_test[:,1]
for i in range(24,37):
    pred_test[:,i] = 0
    for j in range(2,17):
        pred_test[:,i] += calculate_cond_prob_subclass(class_set[j],class_set[i])*pred_test[:,j]

In [87]:
from sklearn.metrics import f1_score, precision_score, recall_score, confusion_matrix

In [89]:
for i in range(37):
    val = recall_score(labels[val_ids,i], [0 if i < .5 else 1 for i in pred_val[:,i]])
    print (class_set[i])
    print (val)
    print (confusion_matrix(labels[val_ids,i], [0 if i < .5 else 1 for i in pred_val[:,i]]))

small vehicle
1.0
[[ 0  2]
 [ 0 75]]
large vehicle
0.0
[[75  0]
 [ 2  0]]
minibus
0.0
[[77]]
hatchback
0.0
[[60  0]
 [17  0]]
sedan
0.416666666667
[[15 14]
 [28 20]]
bus
0.0
[[76  0]
 [ 1  0]]
minivan
0.0
[[74  0]
 [ 3  0]]
truck
0.0
[[76  0]
 [ 1  0]]
van
0.0
[[77]]
jeep
0.0
[[73  0]
 [ 4  0]]
cement mixer
0.0
[[77]]
dedicated agricultural vehicle
0.0
[[77]]
tanker
0.0
[[77]]
crane truck
0.0
[[77]]
pickup
0.0
[[74  0]
 [ 3  0]]
light truck
0.0
[[77]]
prime mover
0.0
[[77]]
red
0.0
[[76  0]
 [ 1  0]]
black
0.0
[[70  0]
 [ 7  0]]
blue
0.0
[[72  0]
 [ 5  0]]
silver/grey
0.0
[[57  0]
 [20  0]]
white
0.128205128205
[[35  3]
 [34  5]]
other
0.0
[[72  0]
 [ 5  0]]
yellow
0.0
[[77]]
green
0.0
[[77]]
sunroof
0.0
[[70  0]
 [ 7  0]]
luggage_carrier
0.0
[[74  0]
 [ 3  0]]
open_cargo_area
0.0
[[74  0]
 [ 3  0]]
enclosed_cab
0.0
[[77]]
spare_wheel
0.0
[[76  0]
 [ 1  0]]
wrecked
0.0
[[76  0]
 [ 1  0]]
flatbed
0.0
[[77]]
ladder
0.0
[[77]]
enclosed_box
0.0
[[77]]
soft_shell_box
0.0
[[77]]
harnessed_to_a_cart
0.0
[[77]]
ac_vents
0.0
[[76  0]
 [ 1  0]]

In [58]:
l = [np.sum(labels[i,24:37]) for i in range(labels.shape[0])]

In [66]:
l.count(0) + l.count(1)

11352

In [60]:
min(l)

0.0

In [67]:
from sklearn.utils import class_weight

In [99]:
#list_classes = class_set[:2]
y = labels[:,:]
#sample_weights = class_weight.compute_class_weight('balanced', np.unique(y), y)
sample_weights = class_weight.compute_sample_weight('balanced', y)
sample_weights

array([  1.07494526e-09,   8.49316133e-03,   3.22061448e-09, ...,
         3.22061448e-09,   2.70598143e-06,   1.68010728e-10])

In [97]:
y_classes = pd.DataFrame(y,columns=class_set[17:24]).idxmax(1, skipna=False)

In [100]:
np.sum(sample_weights)

95.946638216681805

In [101]:
sample_weights = class_weight.compute_class_weight('balanced', np.unique(y), y)

TypeError: unhashable type: 'numpy.ndarray'

In [102]:
import keras
from keras.models import Model
from keras.layers import Dense, Flatten
from keras.optimizers import SGD
from keras.activations import relu
from keras.preprocessing.image import ImageDataGenerator

Using TensorFlow backend.

In [105]:
from keras.datasets import cifar10
from keras.utils import np_utils

In [109]:
(x_train, y_train), (x_test, y_test) = cifar10.load_data()
num_classes = len(np.unique(y_train))
y_train = np_utils.to_categorical(y_train, num_classes)
y_test = np_utils.to_categorical(y_test, num_classes)

datagen = ImageDataGenerator(
    featurewise_center=True,
    featurewise_std_normalization=True,
    rotation_range=20,
    width_shift_range=0.2,
    height_shift_range=0.2,
    horizontal_flip=True)

In [110]:
train_flow = datagen.flow(x_train, y_train, batch_size=32)

In [113]:
len(train_flow)*32

50016

In [112]:
len(x_train)

50000

In [124]:
l = np.sum(labels.sum(axis=0))/labels.sum(axis=0)
l = l/min(l)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [128]:
import numpy as np

A = np.array([1, 2, 3])

N = A.size
B = np.pad(np.diag(A), ((0,N),(0,0)), mode='constant')

In [129]:
np.diag(A)

array([[1, 0, 0],
       [0, 2, 0],
       [0, 0, 3]])

In [132]:
A = np.array([[[1, 2],[2,3]],[[1, 2],[2,3]],[[1, 2],[2,5]],[[1, 2],[3,3]]])

In [133]:
A

array([[[1, 2],
        [2, 3]],

       [[1, 2],
        [2, 3]],

       [[1, 2],
        [2, 5]],

       [[1, 2],
        [3, 3]]])

In [134]:
A.shape

(4, 2, 2)

In [136]:
for i in range(A.shape[2]):
    A[:,:,i] = np.pad(A[:,:,i], ((0,3),(0,3)), mode='constant')

ValueError: could not broadcast input array from shape (7,5) into shape (4,2)

In [138]:
B = A[:,:,i].copy()

In [139]:
B.shape

(4, 2)

In [140]:
np.pad(B, ((0,1),(0,1)), mode='constant')

array([[1, 2, 0],
       [1, 2, 0],
       [1, 2, 0],
       [1, 3, 0],
       [0, 0, 0]])

In [141]:
def pad_along_axis(array: np.ndarray, target_length, axis=0):

    pad_size = target_length - array.shape[axis]
    axis_nb = len(array.shape)

    if pad_size < 0:
        return a

    npad = [(0, 0) for x in range(axis_nb)]
    npad[axis] = (0, pad_size)

    b = np.pad(array, pad_width=npad, mode='constant', constant_values=0)

    return b

In [142]:
A = pad_along_axis(A,7,axis=0)

In [143]:
A = pad_along_axis(A,5,axis=1)

In [144]:
A.shape

(7, 5, 2)

In [145]:
A

array([[[1, 2],
        [2, 3],
        [0, 0],
        [0, 0],
        [0, 0]],

       [[1, 2],
        [2, 3],
        [0, 0],
        [0, 0],
        [0, 0]],

       [[1, 2],
        [2, 5],
        [0, 0],
        [0, 0],
        [0, 0]],

       [[1, 2],
        [3, 3],
        [0, 0],
        [0, 0],
        [0, 0]],

       [[0, 0],
        [0, 0],
        [0, 0],
        [0, 0],
        [0, 0]],

       [[0, 0],
        [0, 0],
        [0, 0],
        [0, 0],
        [0, 0]],

       [[0, 0],
        [0, 0],
        [0, 0],
        [0, 0],
        [0, 0]]])

In [148]:
pred_test

array([[  7.93058634e-01,   2.60418504e-01,   8.15241765e-06, ...,
          3.75787204e-04,   2.72812649e-05,   3.36858602e-06],
       [  4.31590192e-02,   9.90001321e-01,   2.44091934e-05, ...,
          9.57784394e-08,   1.45422207e-04,   5.29393693e-03],
       [  9.99993801e-01,   6.79437107e-06,   5.00913302e-06, ...,
          3.51152130e-09,   2.84095881e-06,   5.52734651e-04],
       ...,
       [  9.99999881e-01,   8.23265154e-08,   4.98503638e-09, ...,
          2.37951951e-07,   5.89575500e-08,   1.80734176e-07],
       [  1.00000000e+00,   2.13732476e-09,   1.23557029e-07, ...,
          1.32844491e-07,   9.29044042e-09,   1.03288311e-08],
       [  9.99988079e-01,   5.72851604e-06,   3.36943390e-06, ...,
          3.02176272e-06,   8.95705625e-08,   5.67135771e-07]], dtype=float32)

In [149]:
pred_test_df = pd.DataFrame(pred_test,columns=class_set)

In [150]:
pred_test_df.head(3)

,small vehicle,large vehicle,minibus,hatchback,sedan,bus,minivan,truck,van,jeep,...,open_cargo_area,enclosed_cab,spare_wheel,wrecked,flatbed,ladder,enclosed_box,soft_shell_box,harnessed_to_a_cart,ac_vents
0,0.793059,0.260419,0.000008,0.014592,0.108364,0.000005,0.000009,0.028336,0.000243,0.000234,...,2.374506e-06,5.075285e-07,3.438362e-06,7.646944e-07,0.002544,0.000007,0.001385,3.757872e-04,0.000027,0.000003
1,0.043159,0.990001,0.000024,0.000049,0.000176,0.006235,0.000017,0.000609,0.000004,0.000399,...,3.341957e-04,1.289210e-04,2.489112e-04,2.860694e-06,0.000030,0.000008,0.120740,9.577844e-08,0.000145,0.005294
2,0.999994,0.000007,0.000005,0.000004,0.111030,0.000075,0.000057,0.000082,0.997817,0.000001,...,1.379167e-08,2.452244e-06,2.209188e-08,6.227408e-08,0.000001,0.000004,0.000010,3.511521e-09,0.000003,0.000553

In [153]:
pred_test_df[class_set[17:24]].sort_values(['other'],ascending=False).head(10)

,red,black,blue,silver/grey,white,other,yellow
867,3.149072e-08,3.882689e-07,2.601159e-08,3.804866e-03,1.351512e-03,0.999624,1.868182e-07
1434,3.184302e-06,3.199502e-07,3.728247e-09,5.503530e-02,6.432218e-05,0.999511,2.379777e-06
1703,7.134386e-05,1.010404e-05,1.781937e-09,4.384503e-03,4.640076e-08,0.999344,4.461105e-07
6044,2.405378e-04,2.143366e-03,2.692805e-07,8.230897e-06,1.105932e-04,0.998869,1.323039e-04
1169,1.013229e-02,1.679503e-10,1.932206e-06,7.610326e-09,2.233437e-06,0.998146,1.000304e-04
1732,4.315515e-06,8.207587e-05,1.608814e-07,1.312069e-02,1.998957e-02,0.997913,7.661437e-05
7902,1.230191e-04,1.705289e-05,1.104620e-06,3.859610e-02,7.846337e-06,0.997695,3.722483e-06
5823,1.035842e-01,1.178787e-03,2.822945e-04,4.799866e-06,5.064753e-06,0.997446,4.099200e-04
1168,8.467638e-03,3.850332e-03,4.858025e-07,4.009318e-04,8.190877e-07,0.997280,7.175704e-08
4131,2.125677e-05,4.827520e-08,1.908751e-09,1.864837e-07,1.004419e-04,0.995525,8.616871e-03

0.99962354

In [170]:
dict1 = {'open_cargo_area': 0.71634521836368237, 'sunroof': 0.8894503819172952, 'yellow': 0.90033566059244174, 'ac_vents': 0.93923176841407263, 'large vehicle': 0.92271880235458481, 'soft_shell_box': 0.29278169203285781, 'small vehicle': 0.99575099506312537, 'flatbed': 0.31267316017316016, 'blue': 0.62639433155916491, 'van': 0.73524767234260346, 'wrecked': 0.37307255784076809, 'crane truck': 0.79365079365079372, 'harnessed_to_a_cart': 0.03568726036160659, 'pickup': 0.69236798979672898, 'other': 0.098448095200692254, 'black': 0.8987484400424558, 'enclosed_cab': 0.51174500367182751, 'light truck': 0.35117741630345856, 'green': 0.15874938132667676, 'white': 0.90180975503588423, 'ladder': 0.032397374385920545, 'red': 0.93409797170210496, 'prime mover': 0.31974894402430631, 'bus': 0.96862388747908035, 'dedicated agricultural vehicle': 0.65555555555555556, 'enclosed_box': 0.81379538003587459, 'cement mixer': 0.22735117540886382, 'sedan': 0.94430223058280494, 'hatchback': 0.79497215331285886, 'minibus': 0.24591666037083032, 'jeep': 0.13696252474803117, 'silver/grey': 0.82016164307721562, 'spare_wheel': 0.11106437135729831, 'truck': 0.57215885518942455, 'minivan': 0.39159683627631026, 'luggage_carrier': 0.77102752111888162, 'tanker': 0.42880473274174058}

In [171]:
dict2 = {'open_cargo_area': 0.57555355685460019, 'sunroof': 0.87340007316198287, 'yellow': 0.92675055045920285, 'ac_vents': 0.95123152012331003, 'large vehicle': 0.9401167981602957, 'soft_shell_box': 0.24372766599885112, 'small vehicle': 0.99832618470319434, 'flatbed': 0.56084033613445372, 'blue': 0.66303092256411167, 'van': 0.69133261231893672, 'wrecked': 0.38671147178732168, 'crane truck': 0.90277777777777768, 'harnessed_to_a_cart': 0.054724520593704085, 'pickup': 0.58217075390956585, 'other': 0.13338536333169718, 'black': 0.89756110826777846, 'enclosed_cab': 0.27031834960662587, 'light truck': 0.27922666659054002, 'green': 0.27274965513913135, 'white': 0.93089545987112188, 'ladder': 0.066561398354876622, 'red': 0.91269590273021195, 'prime mover': 0.35166077135918128, 'bus': 0.95664463427692437, 'dedicated agricultural vehicle': 0.625, 'enclosed_box': 0.63709665343452515, 'cement mixer': 0.1217578428267094, 'sedan': 0.94341051759133587, 'hatchback': 0.77689818222941887, 'minibus': 0.15498195085997185, 'jeep': 0.14839846687759295, 'silver/grey': 0.75762964404963773, 'spare_wheel': 0.24468476551618357, 'truck': 0.47458650240177547, 'minivan': 0.35216364662945104, 'luggage_carrier': 0.78796572029872192, 'tanker': 0.033594372347202625}

In [176]:
ensemblecols = []
val = 0
for key in dict1.keys():
    if dict1[key] < dict2[key]:
        val += (dict2[key] - dict1[key]) 
        ensemblecols.append(key)

In [178]:
val/37 + 0.576079032254

0.6001625021416884

In [179]:
bestsub = pd.read_csv('C:/Users/asengup6/Downloads/answer.csv')

In [180]:
for col in ensemblecols:
    df[col] = bestsub[col]

In [181]:
bestsub.head(3)

,small vehicle,large vehicle,minibus,hatchback,sedan,bus,minivan,truck,van,jeep,...,open_cargo_area,enclosed_cab,spare_wheel,wrecked,flatbed,ladder,enclosed_box,soft_shell_box,harnessed_to_a_cart,ac_vents
0,11738,36543,24685,27787,39842,18628,30169,21830,12270,12803,...,28789,33809,25716,16426,19482,29625,15329,10738,29606,18628
1,35980,28535,28022,21404,10034,30871,38842,10738,11455,25202,...,15739,36473,28894,35120,19306,26532,21363,21820,22883,16045
2,29261,24495,31260,18032,10393,34775,32009,24371,34529,14361,...,37081,13092,12566,19410,23705,23179,33822,13124,31472,20169

In [182]:
df.head(3)

,small vehicle,large vehicle,minibus,hatchback,sedan,bus,minivan,truck,van,jeep,...,open_cargo_area,enclosed_cab,spare_wheel,wrecked,flatbed,ladder,enclosed_box,soft_shell_box,harnessed_to_a_cart,ac_vents
0,11738,36543,31260,26439,28325,20169,32186,19482,35465,12803,...,28789,10419,25716,16426,19482,29625,18231,18039,29606,18628
1,35980,28535,29955,31433,29973,21694,26038,21363,38223,25202,...,28138,36473,28894,35120,19306,26532,28295,10792,22883,16045
2,29261,24495,39959,24041,39923,18628,20178,27435,21020,14361,...,35949,33809,12566,19410,23705,23179,16579,36294,31472,20169

In [184]:
df.to_csv('../answer.csv',index=False)